@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;

}

.nav-bar{
    padding: 7px;
    display: flex;
    background-image: linear-gradient(79deg, #d0c7df, #bdb4b4 48%,#d0c7df);
    justify-content: space-between;
    align-items: center;
}

li{list-style: none;}
.nav-list li {
    display: inline-block;
    padding: 0px 20px;
    justify-content: space-between;
}
.main-elements li {
    display: inline-block;
    padding: 0px 40px;
    justify-content: space-between;
}
a{
    text-decoration:none;
    /* color: red; */
}